body {
  background-color: cadetblue;
}

.col-container {
  flex: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  margin: 0 auto;
}

#new-brewery {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  font-weight: bolder;
}

#brew-info {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-gap: 5px;
  font-weight: bolder;
}

h3,
h4,
h5,
h6 {
  font-weight: bolder;
  font-style: oblique;
  font-size: medium;
}

p {
  font-style: italic;
  color: whitesmoke;
}
